In [10]:
import pandas as pd 
import numpy as np
import chardet
import warnings
warnings.filterwarnings("ignore")

In [11]:
df=pd.read_csv("ks-projects-201612.csv",encoding='Windows-1252')
df

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323745,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,2014-10-17 02:35:30,50000,2014-09-17 02:35:30,25,canceled,1,US,25,NaN,NaN,NaN,NaN
323746,999977640,The Tribe,Narrative Film,Film & Video,USD,2011-07-19 03:35:14,1500,2011-06-22 03:35:14,155,failed,5,US,155,NaN,NaN,NaN,NaN
323747,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16 05:59:00,15000,2010-07-01 19:40:30,20,failed,1,US,20,NaN,NaN,NaN,NaN
323748,999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13 02:00:00,15000,2016-01-13 18:13:53,200,failed,6,US,200,NaN,NaN,NaN,NaN
323749,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16 09:07:47,2000,2011-07-19 09:07:47,524,failed,17,US,524,NaN,NaN,NaN,NaN

In [6]:

with open("ks-projects-201612.csv", "rb") as file:
    result = chardet.detect(file.read(10000))
print(result)

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

In [14]:
data=pd.read_csv("database.csv")
data

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.2460,145.6160,Earthquake,131.60,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.8630,127.3520,Earthquake,80.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.5790,-173.9720,Earthquake,20.00,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.0760,-23.5570,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.9380,126.4270,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,12/28/2016,08:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,ML,...,18.0,42.47,0.120,NaN,0.1898,NN00570710,NN,NN,NN,Reviewed
23408,12/28/2016,09:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,ML,...,18.0,48.58,0.129,NaN,0.2187,NN00570744,NN,NN,NN,Reviewed
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,NaN,5.9,MWW,...,NaN,91.00,0.992,4.8,1.5200,US10007NAF,US,US,US,Reviewed
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,NaN,6.3,MWW,...,NaN,26.00,3.553,6.0,1.4300,US10007NL0,US,US,US,Reviewed
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,NaN,5.5,MB,...,428.0,97.00,0.681,4.5,0.9100,US10007NTD,US,US,US,Reviewed

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23412 entries, 0 to 23411
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        23412 non-null  object
 1   Time                        23412 non-null  object
 2   Latitude                    23412 non-null  float64
 3   Longitude                   23412 non-null  float64
 4   Type                        23412 non-null  object
 5   Depth                       23412 non-null  float64
 6   Depth Error                 4461 non-null   float64
 7   Depth Seismic Stations      7097 non-null   float64
 8   Magnitude                   23412 non-null  float64
 9   Magnitude Type              23409 non-null  object
 10  Magnitude Error             327 non-null    float64
 11  Magnitude Seismic Stations  2564 non-null   float64
 12  Azimuthal Gap               7299 non-null   float64
 13  Horizontal Distance         1604 non-null   float64
 14  Horizontal Error            1156 non-null   float64
 15  Root Mean Square            17352 non-null  float64
 16  ID                          23412 non-null  object
 17  Source                      23412 non-null  object
 18  Location Source             23412 non-null  object
 19  Magnitude Source            23412 non-null  object
 20  Status                      23412 non-null  object
dtypes: float64(12), object(9)
memory usage: 3.8+ MB

In [28]:
df['newdate']=df['Date']
df['newdate']=df['newdate'].str.split("T").str[0]

df['newdate']

0        01/02/1965
1        01/04/1965
2        01/05/1965
3        01/08/1965
4        01/09/1965
            ...
23407    12/28/2016
23408    12/28/2016
23409    12/28/2016
23410    12/29/2016
23411    12/30/2016
Name: newdate, Length: 23412, dtype: object

In [35]:
df['newdate']=pd.to_datetime(df['newdate'],format='mixed')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23412 entries, 0 to 23411
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        23412 non-null  object
 1   Time                        23412 non-null  object
 2   Latitude                    23412 non-null  float64
 3   Longitude                   23412 non-null  float64
 4   Type                        23412 non-null  object
 5   Depth                       23412 non-null  float64
 6   Depth Error                 4461 non-null   float64
 7   Depth Seismic Stations      7097 non-null   float64
 8   Magnitude                   23412 non-null  float64
 9   Magnitude Type              23409 non-null  object
 10  Magnitude Error             327 non-null    float64
 11  Magnitude Seismic Stations  2564 non-null   float64
 12  Azimuthal Gap               7299 non-null   float64
 13  Horizontal Distance         1604 non-null   float64
 14  Horizontal Error            1156 non-null   float64
 15  Root Mean Square            17352 non-null  float64
 16  ID                          23412 non-null  object
 17  Source                      23412 non-null  object
 18  Location Source             23412 non-null  object
 19  Magnitude Source            23412 non-null  object
 20  Status                      23412 non-null  object
 21  newdate                     23412 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(12), object(9)
memory usage: 3.9+ MB

In [41]:
data=pd.read_csv('pakistan_intellectual_capital.csv')
data.head()

,Unnamed: 0,S#,Teacher Name,University Currently Teaching,Department,Province University Located,Designation,Terminal Degree,Graduated from,Country,Year,Area of Specialization/Research Interests,Other Information
0,2,3,Dr. Abdul Basit,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,Software Engineering & DBMS,NaN
1,4,5,Dr. Waheed Noor,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,DBMS,NaN
2,5,6,Dr. Junaid Baber,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,"Information processing, Multimedia mining",NaN
3,6,7,Dr. Maheen Bakhtyar,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,"NLP, Information Retrieval, Question Answering...",NaN
4,24,25,Samina Azim,Sardar Bahadur Khan Women's University,Computer Science,Balochistan,Lecturer,BS,Balochistan University of Information Technolo...,Pakistan,2005.0,VLSI Electronics DLD Database,NaN

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1142 entries, 0 to 1141
Data columns (total 13 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Unnamed: 0                                 1142 non-null   int64
 1   S#                                         1142 non-null   int64
 2   Teacher Name                               1142 non-null   object
 3   University Currently Teaching              1142 non-null   object
 4   Department                                 1142 non-null   object
 5   Province University Located                1142 non-null   object
 6   Designation                                1123 non-null   object
 7   Terminal Degree                            1138 non-null   object
 8   Graduated from                             1142 non-null   object
 9   Country                                    1142 non-null   object
 10  Year                                       489 non-null    float64
 11  Area of Specialization/Research Interests  623 non-null    object
 12  Other Information                          124 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 116.1+ KB

In [42]:
data['Terminal Degree'].unique()  #phd = PhD = ph.D ,

array(['PhD', 'BS', 'MCS', 'MS', 'BE', 'Phd', nan, 'PostDoc', 'Masters',
       'MBA', 'MSc', 'BIT', 'MA', 'Mphil', 'MPhil', 'Post Doc', ' MCS',
       'MIT', 'BSC', 'MSCS', 'BSIT', 'MSC', 'M.Phil', 'Master',
       'Bachelors', 'M.Phil leading to PhD', 'BSCS', 'M.Sc', 'BCS', 'ME',
       'B.Ed', 'M.A', 'M.Eng', 'MCIT', 'B.E', 'M.E', 'MSIT', 'Ph.D',
       'MSSE', 'MSTN', 'Doctor of Professional Studies', 'BSc', 'BA'],
      dtype=object)

In [43]:
data['Department'].unique()

array(['Computer Science & IT', 'Computer Science', 'Computing',
       'Computer Science and Software Engineering',
       'Computer and Information Sciences', 'Computer Science and IT',
       'Software Engineering', 'Computer Sciences',
       'Information Technology', 'CS & IT',
       'School of Information and Technology',
       'Institute of Mathematics & Computer Science',
       'ENGINEERING, SCIENCE & TECHNOLOGY', 'Computer Engineering',
       'Computing & Information Sciences',
       'FACULTY OF COMPUTING & ENGINEERING',
       'Computer Science and Engineering'], dtype=object)

In [44]:
data['Country'].unique()

array(['Thailand', 'Pakistan', 'germany', 'Austria', 'Australia', 'UK',
       'China', 'France', 'USofA', 'SouthKorea', 'Malaysia', 'Sweden',
       'Italy', 'Canada', 'Norway', 'Ireland', 'New Zealand', 'Urbana',
       'Portugal', 'Russian Federation', 'USA', 'Finland', ' USA',
       'Netherland', ' Germany', ' Sweden', ' New Zealand', 'Greece',
       'Turkey', 'South Korea', 'Macau', 'Singapore', 'Spain', 'Japan',
       'HongKong', 'Saudi Arabia', 'Mauritius', 'Scotland'], dtype=object)

In [47]:
for col in data.select_dtypes("object").columns:
    print(data[col].value_counts())
    print("------------------------------")

Teacher Name
Muhammad Zubair             3
Naila Shah                  2
Muhammad Nauman             2
Naveed Ahmad                2
Mehdi Hassan                2
                           ..
M. Usman Afzal              1
Muhammad Rizwan Ali         1
Ahmed Abd-e-Muneeb Niazi    1
Shaista Siddique            1
Dr. Sajid Anwar             1
Name: count, Length: 1133, dtype: int64
------------------------------
University Currently Teaching
Sir Syed University of Engineering and Technology          81
University of Central Punjab                               60
Punjab University College of Information and Technology    51
Bahria University,Islamabad                                49
Virtual University                                         47
                                                           ..
Fatima Jinnah Women University                              2
Shah Abdul Latif University, Khairpur                       1
University of Engineering and Technology,Peshawar           1
University of Sahiwal                                       1
University of Sargodha,Mandi Bahauddin Campus               1
Name: count, Length: 63, dtype: int64
------------------------------
Department
Computer Science                               744
Computer Engineering                            81
Information Technology                          62
Computing                                       43
Computer Science & IT                           41
Computing & Information Sciences                38
Institute of Mathematics & Computer Science     25
FACULTY OF COMPUTING & ENGINEERING              22
Computer Science and Software Engineering       21
Computer and Information Sciences               19
CS & IT                                         14
School of Information and Technology            11
ENGINEERING, SCIENCE & TECHNOLOGY                7
Computer Science and Engineering                 6
Computer Science and IT                          4
Software Engineering                             2
Computer Sciences                                2
Name: count, dtype: int64
------------------------------
Province University Located
Punjab         449
Sindh          344
Capital        247
KPK             86
Balochistan     16
Name: count, dtype: int64
------------------------------
Designation
Assistant Professor                        489
Lecturer                                   366
Associate Professor                         76
Professor                                   29
Tutor/Instructor                            28
Senior Lecturer                             21
Jr.Lecturer                                 12
Senior Assistant Professor                  10
Instructor                                   9
Head of Department                           8
Associate Professor/HoD                      7
Research Associate                           5
Professor/HoD                                5
Permanent Faculty                            5
Professor/Dean                               5
Assistant Professor/HoD                      4
Dean                                         4
Faculty Member                               4
Lab Engineer                                 4
Professor/Chairman                           3
Adjunct Professor                            2
Associate Professor/Chairman                 2
Director                                     2
Assistant Professor/Director                 1
Professor/Director & Registrar               1
Assistant Professor/Principal                1
Teaching Fellow                              1
Assistant Professor/Incharge Department      1
Professor/Chairperson                        1
Departmental Assistant                       1
Professor/Co-Chairman                        1
Assistant Professor/Chairman                 1
Associate Professor/Chairperson              1
Vice President/Dean                          1
I.T Manager                                  1
Chairman                                     1
Associate Professor/Chair                    1
Vice Chancellor                              1
Principal                                    1
HEC Approved PhD Supervisor                  1
Controller of Examinations                   1
Head                                         1
Assistant Professor/Acting Chairperson       1
Professor/Associate Dean (Research)          1
Chief Scientific Officer                     1
Teaching Assistant                           1
Name: count, dtype: int64
------------------------------
Terminal Degree
MS                                463
PhD                               363
BS                                 93
MSc                                37
MCS                                19
Mphil                              17
M.E                                14
MSCS                               13
Post Doc                           13
M.Phil                             13
Phd                                12
MBA                                11
ME                                 11
BE                                  6
PostDoc                             6
MPhil                               4
BCS                                 4
M.Sc                                3
MA                                  3
Bachelors                           3
MCIT                                3
MSSE                                3
Ph.D                                2
MSIT                                2
MIT                                 2
MSC                                 2
M.Eng                               1
MSTN                                1
Doctor of Professional Studies      1
BSc                                 1
B.E                                 1
BIT                                 1
M.A                                 1
B.Ed                                1
BSCS                                1
M.Phil leading to PhD               1
Master                              1
BSIT                                1
BSC                                 1
 MCS                                1
Masters                             1
BA                                  1
Name: count, dtype: int64
------------------------------
Graduated from
FASTâ€“ National University of Computer and Emerging Sciences    67
Sir Syed University of Engineering and Technology              47
National University of Sciences and Technology                 45
NED University of Engineering And Technology                   34
University of the Punjab                                       34
                                                               ..
 University of Texas at Arlington (UTA)                         1
 University of Turin                                            1
 University of Central Florida                                  1
Saarland University                                             1
Seoul National University                                       1
Name: count, Length: 350, dtype: int64
------------------------------
Country
Pakistan              776
UK                     92
USA                    42
Malaysia               25
France                 23
germany                21
Austria                20
Italy                  17
Sweden                 16
China                  16
Thailand               12
USofA                  10
Australia              10
South Korea             8
SouthKorea              7
Canada                  6
Netherland              6
 USA                    3
Singapore               3
Spain                   3
Japan                   3
Norway                  3
Ireland                 3
Portugal                2
 Germany                2
HongKong                1
Saudi Arabia            1
Mauritius               1
Macau                   1
Russian Federation      1
Turkey                  1
Greece                  1
 New Zealand            1
 Sweden                 1
Finland                 1
Urbana                  1
New Zealand             1
Scotland                1
Name: count, dtype: int64
------------------------------
Area of Specialization/Research Interests
Software Engineering                                                                                                                                                                                                                                                                                                                                                                                      16
SOFTWARE ENGINEERINGÂ Â                                                                                                                                                                                                                                                                                                                                                                                      9
Computer Networks                                                                                                                                                                                                                                                                                                                                                                                          6
Computer Science                                                                                                                                                                                                                                                                                                                                                                                           4
Databases                                                                                                                                                                                                                                                                                                                                                                                                  4
                                                                                                                                                                                                                                                                                                                                                                                                          ..
Machine Learning, Artificial Intelligence, Data Mining, Classification, Image Processing, Automata                                                                                                                                                                                                                                                                                                         1
Corpus linguistics, statistics, and the application of corpus methods in the study of speech and writing, learner language, collocations, phraseology and vocabulary. I am also interested in corpus design and corpus tools development, Experimental Phonetics and Phonology, Forensic Phonetics, Psycholinguistics, Second Language Acquisition, Implicit and Explicit L2 Knowledge, Prosody, Tone.     1
Software Testing, Software Requirements Engineering, Agile Development, Global Software Engineering, Formal Methods                                                                                                                                                                                                                                                                                        1
Wireless sensor networks particularly MAC layer design.                                                                                                                                                                                                                                                                                                                                                    1
Pruning and Quantizing CNN, GPGPU,                                                                                                                                                                                                                                                                                                                                                                         1
Name: count, Length: 571, dtype: int64
------------------------------
Other Information
PhD in progress                                                                                                                         27
MS in progress                                                                                                                           9
MS in progress from QUEST                                                                                                                8
PhD in progress from PAK-KIEFT                                                                                                           7
HEC Approved Supervisor                                                                                                                  5
HEC approved PhD Supervisor                                                                                                              4
MS in progress from Bahria University                                                                                                    4
On study leave                                                                                                                           3
PhD candidate                                                                                                                            3
PhD in progress                                                                                                                          3
PhD in progress from UET                                                                                                                 2
MS in progress from National University of Sciences and Technology                                                                       2
PhD in progress from Shaheed Zulfikar Ali Bhutto Institute of Science and Technology                                                     2
MS in progress from UAAR                                                                                                                 2
On Study Leave                                                                                                                           2
MS in progress from FAST                                                                                                                 2
Visiting                                                                                                                                 2
MS in progress from PAK-KIET                                                                                                             2
PhD in progress from NCBA&E                                                                                                              2
MSSE in progress from PAK-KIEFT                                                                                                          1
PhD in progress from Institute of Business Administration,Karachi                                                                        1
PhD in progress from MAJU,Karachi,Pakistan                                                                                               1
PhD in progress from Capital University of Science & Technology                                                                          1
PhD in progress from NED                                                                                                                 1
PhD in progress from  Federal Urdu University of Arts, Science & Technology                                                              1
MS in progress from MAJU                                                                                                                 1
Phil leading to Ph.D. (Course Work 4 CGPA) from University of Sindh                                                                      1
PhD in progress from IIU                                                                                                                 1
2 year post doctorate at Telecom Bretagne (Rennes Campus), IRISA, France in 2011/2012                                                    1
Remained at the Chancellorâ€™s list by achieving 4.0 CGPA during the MS Computer Science Program at Colorado Technical University, USA     1
Currently Member of Board of  Studies of Kohat University and Shaheed Benazir Bhutto  University                                         1
MS will complete in 2018                                                                                                                 1
PhD in progress from  Quaid-e-Azam University, Islamabad \n                                                                              1
MS in progress from UET,Taxila                                                                                                           1
MS in progress from Tondo-Jam University                                                                                                 1
MS in progress from Sindh University Jamshoro                                                                                            1
PhD in progress from Abasyn University,Pakistan\n                                                                                        1
MS in progress from IQRA                                                                                                                 1
PhD in progress from ISRA                                                                                                                1
MSCS in progress from UAAR                                                                                                               1
MSCS in progress UAAR                                                                                                                    1
MS in progress from FAST Peshawar                                                                                                        1
PhD in progress from UCP                                                                                                                 1
PhD in progress from UMT                                                                                                                 1
Phd in progress                                                                                                                          1
M.Phil in progress                                                                                                                       1
PhD in progress from Bahria University                                                                                                   1
MS in progress from College of Electrical and Mechanical Engineering â€“ National University of Sciences and Technology, Islamabad         1
MS in progress from Leads University,Lahore                                                                                              1
PhD in progress from ISRA University                                                                                                     1
PhD in progress from COMSATS                                                                                                             1
PhD in progress from QUEST                                                                                                               1
Name: count, dtype: int64
------------------------------

In [54]:
data['Country']=data['Country'].str.lower().str.strip()
data['Country'].unique()

array(['thailand', 'pakistan', 'germany', 'austria', 'australia', 'uk',
       'china', 'france', 'usofa', 'southkorea', 'malaysia', 'sweden',
       'italy', 'canada', 'norway', 'ireland', 'new zealand', 'urbana',
       'portugal', 'russian federation', 'usa', 'finland', 'netherland',
       'greece', 'turkey', 'south korea', 'macau', 'singapore', 'spain',
       'japan', 'hongkong', 'saudi arabia', 'mauritius', 'scotland'],
      dtype=object)